main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;
  > h1{
    margin-bottom: 2rem;
  }
}
.cards-box{
	width:80%;
	padding:2rem;
	display:grid;
	grid-template-columns:repeat(auto-fill, 14.2rem);
	grid-gap:2rem;
	justify-content:space-between;
	border:1px solid var(--border-color);
}

.card{
	width:14.2rem;
  height: 13.2rem;
	padding:0.375rem 0.625rem;
	border:1px solid var(--border-color);
	display:flex;
	flex-flow:column nowrap;
	justify-content:space-between;
	align-items:stretch;
	border-radius:0.5625rem;
}
.card-header{
	display:flex;
	flex-flow:row nowrap;
	justify-content:flex-start;
	align-items:stretch;
  flex-direction: column;
}
.card-title{
    font-size:1.25rem;
	font-weight:bold;
	color:var(--blue);
	text-align:center;
}
.card-top-box{
	width:100%;
	display:flex;
	flex-flow:column nowrap;
	justify-content:space-between;
}
.card-top-title{
	font-size:1rem;
	font-weight:bold;
	color:var(--blue);
	text-align:center;
}
.card-top-body{
	font-size:1rem;
	color:var(--blue);
	text-align:center;
    overflow: hidden;
    max-width: 100%;
}
.card-btn{
  width: auto;
    height: 2rem;
    font-size: 1.1rem;
    line-height: 2.625rem;
    border-radius: 0.1875rem;
  background: red;
      display: flex;
    justify-content: center;
    margin: 0.7rem 0;
    align-items: center;
  cursor: pointer;
}
.delete-user-btn{
  background: #f44336;
    color: white;

}
.reset-user-btn{
  background:var(--blue) ;
    color: white;

}

.add-card{

  position:relative;
	display:flex;
	flex-flow:row nowrap;
	justify-content:center;
	align-items:center;

  &:before{
    content:'';
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:#ececec;
	border-radius:0.5625rem;
	opacity:0.5;
	cursor:pointer;
	transition:all 0.5s;
  }
  &:hover::before{
    opacity: 0;
  }

  .plus-icon{
	width:2.75rem;
	height:2.75rem;
	border:1px solid var(--border-color);
	border-radius:50%;
	background-color:transparent;
	background-repeat:no-repeat;
	background-position:center center;
	background-size:0.875rem 0.875rem;
	background-image:url('../img/plus.svg');
}




}

.popup{
    form{
          background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
      padding: 2rem;
    }
    .popup__form-row{
          text-align: center;
      margin-bottom: 1rem;
          width: 80%;
      input{
        width: 100%;
    height: 2rem;
    font-family: 'Circe', sans-serif;
    font-size: 1rem;
    font-weight: normal;
    line-height: 2rem;
    color: var(--blue);
    background-color: #fff;
    border-radius: 0.1875rem;
    outline: none;
    border: 1px solid var(--border-color);
  }
      p{
        margin-bottom: 0.7rem;
      }
    }

  .form__help-text{
    text-align: center;
    font-size: 1rem;
    margin-top: 1rem;
  }


  }


.management{
  .cards-nav-download{
    display: none;
  }
}

@media only screen and (max-width: 768px){
	.card-top-body{
      font-size: 2.5rem;
    }
    .card-btn{
    font-size: 2rem;
    height: 5rem;
  }
  .popup .form__help-text{
    font-size: 2rem;
  }

}