@charset "utf-8";

/******************************************************************************
	Reset
******************************************************************************/
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
ul, ol{
	list-style: none;
}
html,
body{
	font-family:'Circe', sans-serif;
	font-size:16px;
	line-height:normal;
	scroll-behavior:smooth;
}
html{
	height:100%;
}
body{
	position:relative;
	height:auto !important;
	height:100%;
	min-height:100%;
}
a, a:hover, a:focus, a:active{
	text-decoration:none;
	outline:none;
}


/******************************************************************************
	Base styles
******************************************************************************/
html{
	--blue:			#0e2d53;
	--border-color: #c1c7d1;
	--grey:			#868685;
}
.container{
	max-width:106.25rem;
	width:100%;
	margin:0 auto;
}
.overlay{
    display:none;
	position:absolute;
	top:0;
	left:0;
    width: 100%;
    min-height: 100vh;
	background-color:rgba(0, 0, 0, 0.5);
	z-index:5000;
}
.overlay.active, .popup.active {
    display: block;
}
.popup.active-flex {
    display: flex!important;
}
.popup{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: 24rem;
}
.popup__close-btn {
    position: fixed;
    width: 25px;
    height: 25px;
    right: -25px;
    top: -25px;
    border: 1px solid var(--border-color);
    border-radius: 50%;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 9px;
    background-image: url(../i/cross-icon.svg);
    z-index: 20001;
    cursor: pointer;
}

.submit-btn {
    width: 6.125rem;
    height: 2.25rem;
    border-radius: 0.1875rem;
    background-color: var(--blue);
    border: none;
    outline: none;
    font-size: 1.125rem;
    font-weight: normal;
    line-height: 2.25rem;
    color: #fff;
    cursor: pointer;
    margin: auto;
    text-align: center;
}

.yes-no-popup.active{
    display: flex!important;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: white;
    padding: 2rem;
}
.yes-no-popup.active p{
    margin-bottom: 1rem;
}
.yes-no{
    display: flex;
}
.yes-no > .submit-btn{
    margin: 7px;
}


.loader-overlay{
	display:none;
	position:absolute;
	top:0;
	left:0;
    width: 100%;
    min-height: 100vh;
	background-color:rgba(0, 0, 0, 0.5);
	z-index:5001;
}
.loader-overlay.active{
	display:block!important;
}

.loader.active{
    display: inline-block!important;
}

.lds-dual-ring {
  width: 64px;
  height: 64px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

.add-card{
  background-size: cover;
  background-image: url(../i/file_gray.png);
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 600px){
    .popup{
        width: 80%;
    }
}