@font-face {
	font-family: 'Circe';
	src:url('Circe-Thin.woff') format('woff');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Circe';
	src:url('Circe-ExtraLight.woff') format('woff');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Circe';
	src:url('Circe-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Circe';
	src:url('Circe-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Circe';
	src:url('Circe-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Circe';
	src:url('Circe-ExtraBold.woff') format('woff');
	font-weight: 800;
	font-style: normal;
}


@font-face {
	font-family: 'Roboto';
	src:url('Roboto-Light.woff') format('woff');
	font-weight: 100;
	font-style: normal;
}


